@font-face {
  font-family: "DM Sans";
  src: url(assets/fonts/static/DMSans-Regular.ttf) format("truetype"),
    url(assets/fonts/static/DMSans-Medium.ttf) format("truetype");
}

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "DM Sans";
}
