@font-face {
  font-family: "DM Sans";
  src: url(assets/fonts/static/DMSans-Regular.ttf) format("truetype"),
    url(assets/fonts/static/DMSans-Medium.ttf) format("truetype");
}

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-1600: 52px;
}

@layer reset {
  * {
    margin: 0;
    padding: 0;
  }

  h1,
  h2 {
    font-size: var(--heading-fs, 1.625rem);
    text-wrap: balance;

    span {
      color: var(--heading-span-color, var(--purple-500));
    }
  }

  img {
    max-width: 100%;
    display: block;
  }
}

@layer base {
  html {
    font-family: "DM Sans", sans-serif;
  }

  body {
    background: #f6f5f6;
  }
}
