@font-face {
  font-family: "DM Sans";
  src: url(assets/fonts/static/DMSans-Regular.ttf) format("truetype"),
    url(assets/fonts/static/DMSans-Medium.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}
